* {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body,
#root,
#root>div {
    height: 100%;
    width: 100%;
}

#root>div {
    display: flex;
    flex-direction: column;
}

header {
    height: 44px;
    width: 100%;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
    background: coral;
    align-items: center;

    >span:nth-child(1) {
        width: 60px;
        display: inline-block;
    }

    >span:nth-child(2) {
        display: inline-block;
        flex: 1;
        text-align: center;
    }
}


section {
    flex: 1;
    overflow-y: auto;

    .title {
        height: 44px;
        width: 100%;
        display: flex;
        border-bottom: 1px solid #ccc;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
    }

    dl {
        display: flex
    }
}

footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    background: coral;
}

footer>a {
    flex: 1;
    text-align: center;
    line-height: 50px;
}