.wrapper {
    width: 100%;
    height: 400px;
    background: lightcoral;
    .box {
        width: 400px;
        height: 200px;
        border: 4px solid lightgreen;
        background-image: url('../img/2.png')
    }
    p {
        font-size: 20px;
    }
}