.boxs {
    width: 100%;
    height: 200px;
    background: lightcoral;
    border: 10px solid lawngreen;
    p {
        width: 100px;
        height: 100px;
        display: inline-block;
        background-image: url('../img/a.jpg');
        background-size: 100% 100%;
    }
}